In [2]:
import pandas as pd
import numpy as np

In [3]:
# Crear un arreglo de numpy
data = np.array([[1,2,3], [4,5,6], [7,8,9]])

# Crear un DataFrame a partir del arreglo de Numpy
df = pd.DataFrame(data, columns=["A","B","C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
data = {
    "A": [1,4,7],
    "B": [2,5,8],
    "C": [3,6,9]
}
df = pd.DataFrame(data)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
# Convertir un DataFrame a un array de Numpy
arr = df.to_numpy()
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
# Calcular el promedio de cada columna utilizando numpy
mean_columns = np.mean(df, axis=0)
mean_columns

A    4.0
B    5.0
C    6.0
dtype: float64

In [7]:
df.mean(axis=0)

A    4.0
B    5.0
C    6.0
dtype: float64

In [8]:
df.mean(axis=1)

0    2.0
1    5.0
2    8.0
dtype: float64